<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime recusandae saepe aliquid odio impedit consequatur sed vitae, repellendus neque consequuntur exercitationem deleniti, tempore corrupti! Inventore atque id eius illum facilis.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime recusandae saepe aliquid odio impedit consequatur sed vitae, repellendus neque consequuntur exercitationem deleniti, tempore corrupti! Inventore atque id eius illum facilis.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime recusandae saepe aliquid odio impedit consequatur sed vitae, repellendus neque consequuntur exercitationem deleniti, tempore corrupti! Inventore atque id eius illum facilis.</p>
    </div>
    <%- include('./partials/footer.ejs') %>

</body>
</html>